#idea
*.iml
*.ipr
*.iws
*.bak
/.idea/*


#common
*.class
*.jar


#other
*.md.bak

#compiled files
/lib/*
/src/main/test/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/WEB-INF/lib/*
/src/main/webapp/WEB-INF/temp/image/*
/src/main/webapp/WEB-INF/temp/voice/*
/src/main/webapp/WEB-INF/temp/video/*
/src/main/webapp/WEB-INF/temp/thumb/*
/target/*